<!--
<!doctype html>
<html>
<head><title>Resume</title>
    <link rel="stylesheet" href="resume.css"></head>
<body>
-->
<div id='background'>
<div style="position:absolute;left:0;z-index:-9999;width:900px;background-color:white;" id='pdf-body'></div>
<div id="wrapper">
  <div class='container'>
 
 <div class="text-left" id="pdfbutton">
<small><a   href="javascript:genPDF()"> Save PDF</a>
<div id='loader'> <%=image_tag('ajax-loader.gif', class:'loader') %></div></small>

</div>

 <div id='content'>
 <h2 class='text-center'>Damien Pyles | Web Developer</h2>
 <hr>
 <div class='info'>
   <small>&bull;</small>
 	<small>Columbus, OH</small>
    <small>614-940-9150</small>
    <small><a href=<%="mailto:#{Admin.first.try(:email)}"%>><%= Admin.first.try(:email) %></a></small>
    <small>&bull;</small>
 </div>

<hr>
    
<p> <%= @resume.summary.body %> </p>
 

<%= render "layouts/experience" %>

<%= render "layouts/education" %>

<%= render "layouts/skills" %>
</div>
</div>
</div>
</div>
<!--
</body>
   
    
    </html>`
-->
