<h3>Experience</h3>

<% @resume.jobs.each do |j| %> 
<h5> <%= j.job_title %> | <%=j.company %> <small
 style ="float: right"><%= from_to(j) %>, <%= j.location %></small>
  </h5>	
<ul> 
  	<% j.bullet_points.each do |bp| %> 
  		<li><%= bp.content %></li>
  	<% end %> 
</ul>

<h4>Project Contributions</h4>

<% j.projects.each do |p| %> 
<h5> <%= p.company.html_safe
 %> | <small style="display: inline"> <%= p.description %></small>
  </h5>	
<ul> 
  	<% p.bullet_points.each do |pp| %> 
  		<li><%= pp.content %></li>
  	<% end %> 
</ul>

   

<% end %>
   

<% end %>