<h3>Experience</h3>

<% @resume.jobs.each do |j| %> 
<h5> <%= j.job_title %> | <%=j.company %> <small
 style ="float: right"><%= from_to(j) %>, <%= j.location %></small>
  </h5>	
<ul> 
  	<% j.bullet_points.each do |bp| %> 
  		<li><%= bp.content %></li>
  	<% end %> 
</ul>

   

<% end %>