<h3>Experience</h3>

<% @resume.jobs.each do |j| %> 
<h5> <%= j.job_title %> | <span style="font-weight: bold"><%=j.company %></span> <small
 style ="float: right"><%= from_to(j) %>, <%= j.location %></small>
  </h5>	
<ul> 
  	<% j.bullet_points.each do |bp| %> 
  		<li><%= bp.content %></li>
  	<% end %> 
</ul>


<% if j.projects.any? %>
    <div class='contributions'>
    <h4 style="text-decoration: underline;">Project Contributions</h4>
    <% j.projects.each do |p| %>
    <div class='project-wrap'> 
    <h5> <%= p.company.html_safe
     %> | <small style="display: inline"> <%= p.description %></small>
      </h5>	
    <ul> 
      	<% p.bullet_points.each do |pp| %> 
      		<li><%= pp.content %></li>
      	<% end %> 
    </ul>
   </div>
  </div>
 <% end %> 
<% end %>
<% end %> 

<style>


@media screen and (max-width: 600px){
  h5 small {
  padding: 7px;
}

}



</style>