<div class='skill-references'>
<div class='col-wrapper'>
<h3>Skills</h3>
  <% @resume.skill_categories.each do |cat| %>
    <p class='skills'><span><%=cat.category_name %></span> | <%= cat.skill_list %> </p>

<%end %>
</div>

<div class='col-wrapper' style="margin-left: 8%">
  <h3>References </h3>
  <ol>
  <% @resume.references.each do |ref| %>
      <li style='margin-left: -25px'> <span style="text-decoration: underline"><%= ref.full_name %></span>, <%= ref.position %>, <%= ref.company %> | <%= ref.phone_number %> </li>

    

   <%end %>
</ol>

</div>

</div>

<style>

.col-wrapper{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  
}

.skill-references {
  margin:auto;
  display: block;
  width: 100%;

}

</style>

