<div class='skill-references'>
<div class='col-wrapper'>
<h3>Skills</h3>
  <% @resume.skill_categories.each do |cat| %>
    <p class='skills'><span><%=cat.category_name %></span> | <%= cat.skill_list %> </p>

<%end %>
</div>

<div class='col-wrapper' >
  <h3>References </h3>
  <ol>
  <% @resume.references.each do |ref| %>
      <li style='margin-left: -25px'> <%= ref.full_name %>, <%= ref.position %>, <%= ref.company %><p> <%= ref.phone_number %></p> </li>

    

   <%end %>
</ol>

</div>

</div>

<style>

.col-wrapper{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  max-height: 400px;
  margin-right: 15px;

  
}

.skill-references {
  margin: auto;
  display: block;
  width: 100%;

}

</style>

